# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Binaries
bin/
cmd/rooms/rooms

# Dependency directories
vendor/

# IDEs directories
.idea
.vscode
